body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background: rgb(255, 255, 255);
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: background-color 1.5s ease-in;
}
body.playing {
  background-image: url(loading.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
body.playing.loaded {
  background-size: contain;
  background-color: rgb(30, 30, 30);
}
a {
  color: #aaa;
}
.playing * { cursor: none; }
.select-container {
  font-size: 2em;
}
.playing .select-container {
  display: none;
}
.button-container {
  text-align: center;
}
.privacy {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
}
.privacy-policy {
  width: 50vw;
  text-align: center;
  margin: 100px auto;
}
