body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  background: #FFF;
  font-weight: 100;
}
body.playing {
  background-image: url(loading.svg);
  background-position: center center;
  background-repeat: no-repeat;
}
body.playing.loaded {
  background-size: contain;
}
a {
  color: #aaa;
}
.select-container {
  text-align: center;
  top: 30vh;
  position: absolute;
  width: 100%;
  font-size: 2em;
  transition: all 0.3s ease-out;
}
.playing .select-container {
  top: 0;
  font-size: 3em;
  font-weight: 600;
  background-color: rgba(255,255,255,0.6);
}
.playing .select-container label,
.playing .select-container .md-select-icon {
  display: none;
}
.button-container {
  position: absolute;
  top: 45vh;
  width: 100%;
  text-align: center;
}
.privacy {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
}
.privacy-policy {
  width: 50vw;
  text-align: center;
  margin: 100px auto;
}
